.declutter-header {
  text-align: center;
  padding: 10px;
  color: #5F6368;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-icon {
  width: 25px;
  height: 25px;

  /* margin-right: 10px; */
  margin-bottom: 10px;
  background-color: #202124;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
